# --- Global Configuration Options ---
{
    email admin@{{ stalwart_domains | selectattr('state', 'equalto', 'present') | map(attribute='name') | first }}
    acme_ca {{ acme_directory_url }}
    {% if acme_ca_root_pem_path is defined %}
    acme_ca_root {{ acme_ca_root_pem_path }}
    {% endif %}
}

# --- Include All Site Configurations ---
import {{ caddy_conf_dir }}/*
