{% import 'macros.j2' as macros with context %}
{{ item.name }} {

    handle {
	    reverse_proxy {{ stalwart_http_proxyv2_listener }} {
	        transport http {
	            proxy_protocol v2
	        }
	    }
    }

    tls {
        {{ macros.render_caddy_dns(item.dns, dns_key_map, caddy_dns_field_map) | indent(8) }}
        #propagation_delay 30s
    }
}
