{% import 'macros.j2' as macros with context %}
{{ item.name }} {
    tls {
        {{ macros.render_caddy_dns(item.dns, dns_key_map, caddy_dns_field_map) | indent(8) }}
        propagation_delay 30s
    }

    {% for directive in item.caddy_directives | default([]) %}
    {{ directive }}
    {% endfor %}
}
