{% import 'macros.j2' as macros with context %}
{{ item.name }} {
    {{ item.caddy_directive | default ("# No custom caddy_directive for " + item.name) | indent(4) }}


    tls {
        {{ macros.render_caddy_dns(item.dns, dns_key_map, caddy_dns_field_map) | indent(8) }}
        propagation_delay 30s
    }

}
