{% macro render_caddy_dns(dns_provider, dns_key_map, caddy_dns_field_map) %}
{% set caddy_creds = dns_key_map[dns_provider] | default({}) %}
{% set provider_meta = caddy_dns_field_map[dns_provider] | default({}) %}

{% if provider_meta.layout | default('block') == 'anonymous' %}
    {# Anonymous Style: dns provider_name "{env.PROVIDER_KEY}" #}
    {% set first_key = (caddy_creds.keys() | list | first) %}
    dns {{ dns_provider }} "{env.{{ dns_provider | upper }}_{{ first_key | upper }}}"
{% else %}
    {# Block Style: dns provider_name { directive_name "{env.PROVIDER_KEY}" } #}
    dns {{ dns_provider }} {
        {% for key, val in caddy_creds.items() %}
            {% set caddy_directive = provider_meta.fields[key] | default(key) %}
            {{ caddy_directive }} "{env.{{ dns_provider | upper }}_{{ key | upper }}}"
        {% endfor %}
    }
{% endif %}
{% endmacro %}
